#topMenuWrapper {
    width: 100%;
    border-top: 0.5px solid #ccc;
    border-bottom: 0.5px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}

#topMenu {
    width: 100%;
    max-width: 1700px;
    margin: 10px auto;
    padding-top: 1px;
    padding-bottom: 1px;
    border: none;
}


#topMenu ul {
    margin: 0;
    padding: 0 0 0 100px;
    display: flex;
    gap: 200px;
}

#topMenu ul li {
    list-style: none;
    color: #301700;
    background-color: transparent;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    padding: 5px 0;
}

#topMenu .menuLink {
    text-decoration: none;
    color: #301700;
    display: block;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pretendard', sans-serif;
}

#topMenu .menuLink:hover {
    color: orangered;
    background-color: white;
}