.about-title {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.about-text {
    font-weight: 400;
    font-size: 1.1em;
    white-space: pre-line;
    line-height: 1.5;
    color: #333;

    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
}
