.register-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.register-center-container .login-form-container {
  max-width: 1000px !important;
  margin: 0 auto;
} 